KELIO_URL=https://signify.kelio.io/open/homepage?ACTION=intranet&asked=1&header=0
KELIO_CLOCK_BUTTON_SELECTOR=a[onclick*="BADGER_ES"]
KELIO_LAT=40.4392
KELIO_LON=-3.6485
TZ=Europe/Madrid
NOTIFY_EMAIL=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=